<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chernobyl_Relay_Chat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Chernobyl_Relay_Chat.Properties.Settings>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DisplaySize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DisplayState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="AutoFaction" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GameFaction" serializeAs="String">
                <value>actor_stalker</value>
            </setting>
            <setting name="ManualFaction" serializeAs="String">
                <value>actor_stalker</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value />
            </setting>
            <setting name="SendDeath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReceiveDeath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeathInterval" serializeAs="String">
                <value>60</value>
            </setting>
        </Chernobyl_Relay_Chat.Properties.Settings>
    </userSettings>
</configuration>